body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

form {
    background: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

form label {
    display: inline-block;
    margin: 5px 10px 5px 0;
}

input[type="text"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #28a745;
    color: white;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #218838;
}

.status-New {
    background-color: #fffae6;
}
.status-Current {
    background-color: #e6f7ff;
}
.status-Final {
    background-color: #e6ffe6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: rgb(225, 224, 224);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
